In [1]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown('# <span style="color:red">'+string+'</span>'))


if ('sc' in locals() or 'sc' in globals()):
    printmd('<<<<<!!!!! It seems that you are running in a IBM Watson Studio Apache Spark Notebook. Please run it in an IBM Watson Studio Default Runtime (without Apache Spark) !!!!!>>>>>')

In [2]:
!pip install pyspark==2.4.5

Requirement already satisfied: pyspark==2.4.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pyspark==2.4.5) (0.10.7)

In [3]:
try:
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession
except ImportError as e:
    printmd('<<<<<!!!!! Please restart your kernel after installing Apache Spark !!!!!>>>>>')

In [4]:
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

spark = SparkSession \
    .builder \
    .getOrCreate()

In [5]:
# # # delete files from previous runs
# # !rm -f hmp.parquet*

# # # download the file containing the data in PARQUET format
# # !wget https://github.com/IBM/coursera/raw/master/hmp.parquet
    
# # # create a dataframe out of it
# df = spark.read.parquet('hmp.parquet')

# # # register a corresponding query table
# df.createOrReplaceTempView('df')

In [6]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_595093338e2d4ab7a7085b8760a38b76 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='vd_stNEvN1tO807jVnQHv3pCMeG3Sufph7IZgKC_0cO7',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_595093338e2d4ab7a7085b8760a38b76.get_object(Bucket='data-donotdelete-pr-hwh86nvna39yrx',Key='wts-sample.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )
df = pd.read_csv(body,encoding = 'gbk')
df.head()

,ID,Market_Carrier,MC_Flight_Number,Operating_Carrier,OC_Booking_Class,OC_Ticketing_Designator,OC_Flight_Number,OC_Booking_Class_Actual,OC_Ticketing_Designator_Actual,OD,...,Agency_Country,Ticket_ID,Number_of_Adult,Number_of_Child,Fare,Airport_Tax,Fuel,Handling_Fee,Number_of_Infant,IsIntlTransfer
0,76824303,DL,026,DL,Y,L,026,Y,L,CANATL,...,US,1006189172,1,0,3472.01,0.0,0.00,312.48,0,NaN
1,8408934,DL,5755,DL,Y,V,5755,Y,V,CANPHX,...,US,740889159,1,0,446.11,0.0,0.00,24.21,0,False
2,1403748,CZ,330,CZ,Y,Q,330,Y,Q,YVRCAN,...,CN,547831618,1,0,2850.00,0.0,1000.00,85.50,0,False
3,6399303,CZ,328,CZ,Y,E,328,Y,E,LAXDAC,...,BD,695529016,1,0,1635.67,0.0,409.99,17.53,0,True
4,2945829,DL,189,DL,Y,L,189,Y,L,DTWURC,...,US,594622312,1,0,5839.93,0.0,997.61,0.00,0,False

In [7]:
df.head()

,ID,Market_Carrier,MC_Flight_Number,Operating_Carrier,OC_Booking_Class,OC_Ticketing_Designator,OC_Flight_Number,OC_Booking_Class_Actual,OC_Ticketing_Designator_Actual,OD,...,Agency_Country,Ticket_ID,Number_of_Adult,Number_of_Child,Fare,Airport_Tax,Fuel,Handling_Fee,Number_of_Infant,IsIntlTransfer
0,76824303,DL,026,DL,Y,L,026,Y,L,CANATL,...,US,1006189172,1,0,3472.01,0.0,0.00,312.48,0,NaN
1,8408934,DL,5755,DL,Y,V,5755,Y,V,CANPHX,...,US,740889159,1,0,446.11,0.0,0.00,24.21,0,False
2,1403748,CZ,330,CZ,Y,Q,330,Y,Q,YVRCAN,...,CN,547831618,1,0,2850.00,0.0,1000.00,85.50,0,False
3,6399303,CZ,328,CZ,Y,E,328,Y,E,LAXDAC,...,BD,695529016,1,0,1635.67,0.0,409.99,17.53,0,True
4,2945829,DL,189,DL,Y,L,189,Y,L,DTWURC,...,US,594622312,1,0,5839.93,0.0,997.61,0.00,0,False

In [8]:
df.columns

Index(['ID', 'Market_Carrier', 'MC_Flight_Number', 'Operating_Carrier',
       'OC_Booking_Class', 'OC_Ticketing_Designator', 'OC_Flight_Number',
       'OC_Booking_Class_Actual', 'OC_Ticketing_Designator_Actual', 'OD',
       'OD_Transfer_Type', 'IsFFP', 'Purchase_Date', 'GDS', 'Corporate_Number',
       'Agency_Number', 'Ticket_Number', 'Point_of_Sales', 'Routing',
       'Routing_Flight_Number', 'Segment', 'Segment_Type', 'Point_of_Origin',
       'Ticket_Status', 'Passenger_Nationality', 'Passenger_Birthday',
       'Passenger_Gender', 'Passenger_Name', 'Passenger_Status', 'Tour_Code',
       'Fare_Basis', 'Number_of_Tickets', 'Flight_Date', 'OD_Transfer_Time',
       'Ticket_Number_Previous', 'Traveling_Days', 'Agency_City',
       'Agency_Country', 'Ticket_ID', 'Number_of_Adult', 'Number_of_Child',
       'Fare', 'Airport_Tax', 'Fuel', 'Handling_Fee', 'Number_of_Infant',
       'IsIntlTransfer'],
      dtype='object')

In [9]:
col = ['IsFFP','Operating_Carrier','Fare','Fuel','OC_Booking_Class_Actual','Passenger_Name']

In [10]:
df[col].head(5)

,IsFFP,Operating_Carrier,Fare,Fuel,OC_Booking_Class_Actual,Passenger_Name
0,0,DL,3472.01,0.00,Y,CHINERYJEFFREYDOUGLAS
1,0,DL,446.11,0.00,Y,YANCHENG
2,0,CZ,2850.00,1000.00,Y,ZHUHOUYUAN
3,0,CZ,1635.67,409.99,Y,MONDALSAIFULISLAM
4,0,DL,5839.93,997.61,Y,WANSOMMONTAKARN

In [11]:
df_col = df[col]

In [12]:
df_col.head(3)

,IsFFP,Operating_Carrier,Fare,Fuel,OC_Booking_Class_Actual,Passenger_Name
0,0,DL,3472.01,0.0,Y,CHINERYJEFFREYDOUGLAS
1,0,DL,446.11,0.0,Y,YANCHENG
2,0,CZ,2850.00,1000.0,Y,ZHUHOUYUAN

In [13]:
df_col = df_col.dropna()

In [14]:
import pyspark

from pyspark.sql import SparkSession

import pandas as pd

spark = SparkSession.builder.appName('pandasToSparkDF').getOrCreate()

In [15]:
from pyspark.sql.types import *

mySchema = StructType([ StructField("IsFFP", IntegerType(), True)\

                       ,StructField("Operating_Carrier", StringType(), True)\

                       ,StructField("Fare", DoubleType(), True)\

                       ,StructField("Fuel", DoubleType(), True)\

                       ,StructField("OC_Booking_Class_Actual", StringType(), True)
                     
                      ,StructField("Passenger_Name", StringType(), True)])

In [16]:
df_col = spark.createDataFrame(df_col,schema=mySchema)

In [17]:
# from pyspark.sql import SQLContext
# sc = SparkContext.getOrCreate()
# sqlContext = SQLContext(sc)

# df_col = sqlContext.createDataFrame(df_col)

Since this is supervised learning, let’s split our data into train (80%) and test (20%) set.

In [18]:
# from sklearn.model_selection import train_test_split

In [19]:
# df_train, df_traintest = train_test_split(df_col, test_size=0.2, random_state=23)

In [20]:
splits = df_col.randomSplit([0.8, 0.2])
df_train = splits[0]
df_test = splits[1]

In [21]:
df_train.head(5)

[Row(IsFFP=0, Operating_Carrier='  ', Fare=0.0, Fuel=0.0, OC_Booking_Class_Actual=' ', Passenger_Name='COHENDUMANISTEVEN'),
 Row(IsFFP=0, Operating_Carrier='  ', Fare=0.0, Fuel=0.0, OC_Booking_Class_Actual=' ', Passenger_Name='LIANGXIAOLONG'),
 Row(IsFFP=0, Operating_Carrier='  ', Fare=0.0, Fuel=0.0, OC_Booking_Class_Actual=' ', Passenger_Name='TONGPEIXIA'),
 Row(IsFFP=0, Operating_Carrier='  ', Fare=0.0, Fuel=0.0, OC_Booking_Class_Actual=' ', Passenger_Name='ZHANGGUOQUAN'),
 Row(IsFFP=0, Operating_Carrier='  ', Fare=0.0, Fuel=0.0, OC_Booking_Class_Actual=' ', Passenger_Name='ZHANGLINGWEI')]

In [22]:
df_train.count()

2399

In [23]:
df_train.dtypes

[('IsFFP', 'int'),
 ('Operating_Carrier', 'string'),
 ('Fare', 'double'),
 ('Fuel', 'double'),
 ('OC_Booking_Class_Actual', 'string'),
 ('Passenger_Name', 'string')]

Again, we can re-use our feature engineering pipeline

In [24]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import Normalizer


indexer = StringIndexer(inputCol="OC_Booking_Class_Actual", outputCol="label")

vectorAssembler = VectorAssembler(inputCols=['Fare','Fuel'],
                                  outputCol="features")

normalizer = Normalizer(inputCol="features", outputCol="features_norm", p=1.0)

Now we use LogisticRegression, a simple and basic linear classifier to obtain a classification performance baseline.

In [25]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline

lr = LogisticRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)
# pipeline = Pipeline(stages=[indexer, vectorAssembler, normalizer,lr])
pipeline = Pipeline(stages=[indexer,vectorAssembler,normalizer,lr])

In [26]:
model = pipeline.fit(df_train)
prediction = model.transform(df_test)

In [27]:
def classification_metrics(prediction):
    from pyspark.ml.evaluation import MulticlassClassificationEvaluator
    mcEval = MulticlassClassificationEvaluator().setMetricName("accuracy") .setPredictionCol("prediction").setLabelCol("label")
    accuracy = mcEval.evaluate(prediction)
    print("Accuracy on test data = %g" % accuracy)

In [28]:
classification_metrics(prediction)

Accuracy on test data = 0.816054

If we look at the schema of the prediction dataframe we see that there is an additional column called prediction which contains the best guess for the class our model predicts.

In [29]:
prediction.printSchema()

root
 |-- IsFFP: integer (nullable = true)
 |-- Operating_Carrier: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Fuel: double (nullable = true)
 |-- OC_Booking_Class_Actual: string (nullable = true)
 |-- Passenger_Name: string (nullable = true)
 |-- label: double (nullable = false)
 |-- features: vector (nullable = true)
 |-- features_norm: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

Let’s evaluate performance by using a build-in functionality of Apache SparkML.

In [31]:
type(prediction)

pyspark.sql.dataframe.DataFrame

In [40]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
MulticlassClassificationEvaluator().setMetricName("accuracy").evaluate(prediction)

0.8311036789297659

In [33]:
prediction

DataFrame[IsFFP: int, Operating_Carrier: string, Fare: double, Fuel: double, OC_Booking_Class_Actual: string, Passenger_Name: string, label: double, features: vector, features_norm: vector, rawPrediction: vector, probability: vector, prediction: double]

In [34]:
prediction_pd = prediction.toPandas()

In [39]:
prediction_pd[ (prediction_pd['OC_Booking_Class_Actual']=="Y") & (prediction_pd['prediction'] > 0)]

,IsFFP,Operating_Carrier,Fare,Fuel,OC_Booking_Class_Actual,Passenger_Name,label,features,features_norm,rawPrediction,probability,prediction
131,0,CZ,15873.83,1456.88,Y,ZHANGYONG,0.0,"[15873.83, 1456.88]","[0.9159365080830503, 0.08406349191694974]","[11.526839853163183, 14.833301373190498, 2.297...","[0.3842279951054394, 0.49444337910634995, 0.07...",1.0
132,0,CZ,16200.00,1000.00,Y,JIANGZHUOYING,0.0,"[16200.0, 1000.0]","[0.9418604651162791, 0.05813953488372093]","[5.25323389835004, 19.27352499628398, 3.454504...","[0.175107796611668, 0.642450833209466, 0.11515...",1.0
145,0,DL,11381.75,687.03,Y,ZHUANGDECHUAN,0.0,"[11381.75, 687.03]","[0.9430737821055649, 0.056926217894435055]","[3.805802836847123, 19.778829210980103, 2.9948...","[0.1268600945615708, 0.6592943070326702, 0.099...",1.0
483,0,CZ,10500.00,1000.00,Y,LIUXUEXIAN,0.0,"[10500.0, 1000.0]","[0.9130434782608695, 0.08695652173913043]","[5.25323389835004, 19.27352499628398, 3.454504...","[0.175107796611668, 0.642450833209466, 0.11515...",1.0
516,0,KL,12053.69,1200.00,Y,FERNANDEZGARCIAMAYTE,0.0,"[12053.69, 1200.0]","[0.9094591770291897, 0.09054082297081038]","[11.526839853163183, 14.833301373190498, 2.297...","[0.3842279951054394, 0.49444337910634995, 0.07...",1.0
585,1,CZ,6250.02,650.00,Y,KOUJIYUN,0.0,"[6250.02, 650.0]","[0.9057973745003638, 0.09420262549963623]","[8.882363165931363, 18.337623000251075, 0.7439...","[0.2960787721977121, 0.6112541000083691, 0.024...",1.0
590,1,CZ,19880.00,708.00,Y,GAOYUAN,0.0,"[19880.0, 708.0]","[0.9656110355546921, 0.034388964445307944]","[10.194260298851304, 16.32027708039367, 1.9484...","[0.3398086766283768, 0.5440092360131223, 0.064...",1.0
593,1,KL,9208.96,0.00,Y,HUOBAOFENG,0.0,"[9208.96, 0.0]","[1.0, 0.0]","[13.566924741924744, 0.9285617160617161, 0.0, ...","[0.45223082473082477, 0.0309520572020572, 0.0,...",4.0

In [36]:
from pyspark.ml.classification import RandomForestClassifier
rf = RandomForestClassifier(labelCol="label", numTrees=30)

pipeline = Pipeline(stages=[indexer,vectorAssembler,normalizer,rf])
model = pipeline.fit(df_train)
prediction = model.transform(df_test)
classification_metrics(prediction)

Accuracy on test data = 0.831104

In [37]:
prediction_pd = prediction.toPandas()

In [38]:
prediction_pd[ (prediction_pd['OC_Booking_Class_Actual']=="Y") & (prediction_pd['prediction'] > 0)]

,IsFFP,Operating_Carrier,Fare,Fuel,OC_Booking_Class_Actual,Passenger_Name,label,features,features_norm,rawPrediction,probability,prediction
131,0,CZ,15873.83,1456.88,Y,ZHANGYONG,0.0,"[15873.83, 1456.88]","[0.9159365080830503, 0.08406349191694974]","[11.526839853163183, 14.833301373190498, 2.297...","[0.3842279951054394, 0.49444337910634995, 0.07...",1.0
132,0,CZ,16200.00,1000.00,Y,JIANGZHUOYING,0.0,"[16200.0, 1000.0]","[0.9418604651162791, 0.05813953488372093]","[5.25323389835004, 19.27352499628398, 3.454504...","[0.175107796611668, 0.642450833209466, 0.11515...",1.0
145,0,DL,11381.75,687.03,Y,ZHUANGDECHUAN,0.0,"[11381.75, 687.03]","[0.9430737821055649, 0.056926217894435055]","[3.805802836847123, 19.778829210980103, 2.9948...","[0.1268600945615708, 0.6592943070326702, 0.099...",1.0
483,0,CZ,10500.00,1000.00,Y,LIUXUEXIAN,0.0,"[10500.0, 1000.0]","[0.9130434782608695, 0.08695652173913043]","[5.25323389835004, 19.27352499628398, 3.454504...","[0.175107796611668, 0.642450833209466, 0.11515...",1.0
516,0,KL,12053.69,1200.00,Y,FERNANDEZGARCIAMAYTE,0.0,"[12053.69, 1200.0]","[0.9094591770291897, 0.09054082297081038]","[11.526839853163183, 14.833301373190498, 2.297...","[0.3842279951054394, 0.49444337910634995, 0.07...",1.0
585,1,CZ,6250.02,650.00,Y,KOUJIYUN,0.0,"[6250.02, 650.0]","[0.9057973745003638, 0.09420262549963623]","[8.882363165931363, 18.337623000251075, 0.7439...","[0.2960787721977121, 0.6112541000083691, 0.024...",1.0
590,1,CZ,19880.00,708.00,Y,GAOYUAN,0.0,"[19880.0, 708.0]","[0.9656110355546921, 0.034388964445307944]","[10.194260298851304, 16.32027708039367, 1.9484...","[0.3398086766283768, 0.5440092360131223, 0.064...",1.0
593,1,KL,9208.96,0.00,Y,HUOBAOFENG,0.0,"[9208.96, 0.0]","[1.0, 0.0]","[13.566924741924744, 0.9285617160617161, 0.0, ...","[0.45223082473082477, 0.0309520572020572, 0.0,...",4.0